<a href="https://colab.research.google.com/github/pranatixsharma/Delhi-AQI-source-allocation/blob/main/Delhi_AQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Statement

1. What are the main causes of pollution in various areas in Delhi NCR?
2. What measures should be taken in what area to reduce it, and quanitfy how they might help.
3. What percentage of this is human activities based and what is just natural weather pattern?

#Analytical Approach
1. Causes -> Classification model to classify each area's profile into one of the main causes based on air elements profile
2. Measures to be taken -> Prescriptive decision analysis model
3. natural vs man made -> binary classification

# Data collection
import dataset

In [ ]:
import pandas as pd
Delhi = pd.read_csv("/content/delhi_ncr_aqi_dataset.csv")
Delhi.head()

,datetime,date,year,month,day,hour,day_of_week,is_weekend,season,city,...,no2,so2,co,o3,temperature,humidity,wind_speed,visibility,aqi,aqi_category
0,2020-01-01 06:00:00,2020-01-01,2020,1,1,6,Wednesday,0,winter,Delhi,...,119.6,47.7,5.19,12.3,9.4,100,3.6,1.2,500,Severe
1,2020-01-01 12:00:00,2020-01-01,2020,1,1,12,Wednesday,0,winter,Delhi,...,117.9,39.3,4.32,15.8,20.6,50,5.9,1.4,500,Severe
2,2020-01-01 18:00:00,2020-01-01,2020,1,1,18,Wednesday,0,winter,Delhi,...,150.1,36.3,7.13,14.3,12.4,56,4.5,1.1,500,Severe
3,2020-01-01 23:00:00,2020-01-01,2020,1,1,23,Wednesday,0,winter,Delhi,...,142.0,30.3,4.90,13.2,14.4,48,5.8,1.4,500,Severe
4,2020-01-01 06:00:00,2020-01-01,2020,1,1,6,Wednesday,0,winter,Delhi,...,138.4,41.5,7.56,15.4,6.8,100,2.8,0.4,500,Severe

#Data understanding/ EDA